* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  color: #66585c;
  font-size: 16px;
  
}

html {
  background: rgb(242,249,243);
background: linear-gradient(104deg, rgba(242,249,243,1) 0%, #95d490 100%);
background-size: cover;
background-repeat: no-repeat;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
min-height: 100%;
}

input[type='text'], input[type='password'], input[type="email"] {
  border: none;
  border-bottom: 4px solid #b6d490;
  background: transparent;
}
input[type='text'], input[type='password'], input[type="email"]:focus {
  border: none;
  border-bottom: 4px solid #b6d490;
  margin-bottom: 20px;
}

input[type="submit"] {
  margin-bottom: 20px;
}
