.login {
    display: grid;
    margin: auto;
    grid-template: "left top right" "left middle right" "left bottom right";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

}

.email-login {
    grid-area: middle;
}

.login p {
    grid-area:top;
    grid-column-end: top;
    padding: 40px 0px 0px 0px;
    
}

@-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.login a {
    grid-area: bottom;


}
.login label {
    line-height: 20px;
}
.login input {
    width: 225px;
    padding: 5px;
    line-height: 20px;
}

