ul.scheduled-list {
    margin-left: 10px;
    padding: 10px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-bottom: 20px;
    margin: 10px 10px 20px 10px;
    line-height: 25px;
}

h3 {
    padding: 0px 20px 0px 20px;
    color: #87586f
}

li {
    padding-bottom: 5px;
}
span.scheduled-item {
    font-weight: bold;
    color: #9e2a37;
}

@-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }

  .scale-up-center:hover {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }

  .scheduled-container {
    display: grid;
    grid-template-areas: 'small medium' 'bottom right';
    grid-template-columns: 0.3fr 0.5fr;
  }


  @media only screen and (max-width: 400px) {
  .scheduled {
    grid-area: small;
  }

  .choose-service, .date-and-time {
    grid-area: bottom;
  }

   
}


@media only screen and (min-width: 401px) and (max-width: 800px)  { 

  .choose-service, .date-and-time {
    grid-area: medium;
  }

} 

@media only screen and (min-width: 801px) {
  .choose-service {
    display: grid;
    grid-template-areas: 'medium large' 'bottom right';
    grid-template-rows: 200px;
    grid-template-columns: 200px;
  }

  .choose-service h3 {
    grid-area: medium;
    align-self: start;
  }
  .choose-service form {
    grid-area: medium;
    align-self: end;
  }
  .time {
    grid-area: large;
  }
}









